<div id='<%=tile.cid%>' model-id="<%=tile.get('id')%>" wall-name="<%=wallName%>" class="<%=wallName%> <%=tile.cid%> tile panel panel-primary glow">
  <button type="button" class="close tile-closer" aria-hidden="true">&times;</button>
  <a class='tile-comment-link' target="_blank" href="http://www.reddit.com<%= tile.get('permalink')%>">
    <span class="glyphicon glyphicon-comment"></span>
  </a>
  <a class="tile-title-text" target="_blank" id='<%=tile.cid%>' href='<%= tile.get('url') %>'>
    <%=tile.get('title')%>
  </a>
  <% if(tile.get('sender_name')){ %>
    <br>From: <a href="#/f/<%=tile.get('sender_name')%>"><%=tile.get('sender_name')%></a>
  <% } %>

  <div id='<%=tile.cid%>' class="<%=tile.cid%>-media" title="<%= tile.get('title')%>">

  <% if(tile.get('imgSrc')){ %>
    <a data-toggle="modal" data-target="#<%= tile.cid%>-<%=wallName%>-modal">
      <img id='<%=tile.cid%>' class='tile-image' src='<%= tile.get('imgSrc') %>'>
    </a>
  <% } %>
  </div>
</div>
<div class="modal fade" id="<%= tile.cid%>-<%=wallName%>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog bare-modal">
    <div class="modal-content bare-modal">
      <div class="modal-body bare-modal">
        <img id='<%=tile.cid%>' class='bare-modal modal-image' src='<%= tile.get('imgSrc') %>'>
      </div>
    </div>
  </div>
</div>
